appdirs==1.4.4
APScheduler==3.6.3
async-timeout==3.0.1
future==0.18.2
geographiclib==1.50
geopy==2.0.0
idna==2.10
multidict==5.0.1
mysql-connector-python==8.0.22
pefile==2019.4.18
pycparser==2.20
PyInstaller==3.6
pyTelegramBotAPI==3.7.3
python-telegram==0.12.0
python-telegram-bot==13.0
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
telepot==12.7
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.0.21
yarl==1.6.2